{{!< default}}

<div class="posts">
    {{#foreach posts}}
    {{#has tag="tweet"}}
    <div class="post animated slideInUp">
        {{content}}
    </div>
    {{else}}
    <div class="post posts-text-post animated slideInUp">
        <h1 class="post-title">
            <a href="{{url}}">
                {{{title}}}
            </a>
        </h1>
        <!-- <span class="post-date">{{date format='YYYY-MM-DD'}}</span> -->
        {{content words="50"}}
        <ul class="post-tags">
            {{#foreach tags}}
            <li>
                <a href="{{url}}" title="{{name}}" class="tag-{{id}}">{{name}}</a>
            </li>
            {{/foreach}}
        </ul>
        <div class="post-footer">
        <a href="{{url}}">
            <span class="meta-count">{{date published_at timeago="true"}}</span>
        </a>
        </div>
    </div>
    {{/has}}
    {{/foreach}}
    {{pagination}}
</div>
